In [9]:
import pandas as pd
import random

In [5]:

df = pd.read_csv('virtue/virtue_test_hard.csv')
df.head()

   label                                           scenario
0      1  Jill wore a new style of distinctive clothes e...
1      0  Jill wore a new style of distinctive clothes e...
2      0  Jill wore a new style of distinctive clothes e...
3      0  Jill wore a new style of distinctive clothes e...
4      0  Jill wore a new style of distinctive clothes e...

In [14]:
arr = [''] * (2500 // 5)
answers = [''] * (2500 // 5)
for i in range(0, 2500, 5):
    arr[i // 5] = df.iloc[i, 1].split('[SEP]')[0]
    # random shuffle of 5
    temp = [''] * 5
    answers[i // 5] = df.iloc[i, 1].split('[SEP]')[1]
    for j in range(5):
        temp[j] = df.iloc[i + j, 1].split('[SEP]')[1]
    random.shuffle(temp)
    arr[i // 5] += ','.join(temp)
pd.DataFrame(data=arr, columns=['question']).to_csv('virtue/virtue_test_hard_shuffled_questions.csv', index=False)
pd.DataFrame(data=answers, columns=['answer']).to_csv('virtue/virtue_test_hard_shuffled_answers.csv', index=False)